$color: rgba(0, 0, 0, 0.8);

html, body {
    // margin: 0;
    // padding: 0;
    font-family: system-ui, sans-serif;
    color: #222;
}

.o-wrap {
    max-width: 500px;
}

.grasp {
    color: $color;
    font-family: system-ui;
    font-size: 3em;
}

.bowl {
    color: $color;
}

.u-fade {
    opacity: 0.5;
}

.u-fade-two {
    opacity: 0.8;
}

a {
    color: #222;
}